* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: #ffffff;
  background-color: #043c90;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  padding: 2.4rem;
  line-height: 1;
  justify-content: center;
  background-color: #caf0f8;
}

body,
.qr-section {
  display: flex;
}

.qr-section {
  gap: 1.6rem;
  width: 100%;
  max-width: 26rem;
  margin: 18rem auto;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1.2rem 1.2rem 3rem 1.2rem;
}

img,
.qr-section {
  border-radius: 1rem;
}

.text-container {
  width: 95%;
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  line-height: 1.2;
  font-weight: 700;
  color: #4d4dae;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

p {
  opacity: 0.8;
  line-height: 1.4;
  font-size: 1.2rem;
}

/* @media (max-width: 83.875em) {
  .qr-section {
    width: 20%;
  }

  h1 {
    line-height: 1.2;
    font-size: 1.5rem;
    line-break: auto;
  }
  .text-container {
    width: 90%;
  }

  p {
    line-height: 1.5;
  }
}

@media (max-width: 66.5em) {
  .qr-section {
    width: 24%;
  }
}

@media (max-width: 55.35em) {
  .qr-section {
    width: 28%;
  }
}

@media (max-width: 47.5em) {
  .qr-section {
    width: 34%;
  }

  h1 {
    line-height: 1.3;
  }

  p {
    line-height: 1.5;
  }
}

@media (max-width: 39.0625em) {
  .qr-section {
    width: 40%;
  }
}

@media (max-width: 33.25em) {
  .qr-section {
    width: 50%;
  }

  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@media (max-width: 25.0625em) {
  .qr-section {
    width: 60%;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }
} */
